*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS';
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: palegoldenrod;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: khaki;
}

header {
  overflow: hidden;
  background-color: hotpink;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

@keyframes marquee {
  from { left: 100% }
  to { left: -100%}
}

header span {
  position: relative;
  color: white;
  animation: marquee 10s linear infinite;
}

#nav ul li {
  margin: 0;
  padding: 0;
  text-align:center;
}

#nav a {
  text-decoration: none;
  color: hotpink;
  font-weight: bold;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

#nav a:hover {
  background-color: cornflowerblue;
  text-transform: uppercase;
}

#nav {
  display: none;
}

section {
  text-align: center;
  background-color: salmon;
}

#shownav {
  position: absolute;
  right: 0;
  top: 0;
}

#info {
  display: none;
}

#overlay.show,
#info.show,
#nav.show {
  display: block;
}

img {
  padding: 30px;
  max-width: 100%;
}

#overlay {
  position: fixed;
  padding: 10px;
  background-color: yellow;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 9000px solid rgba(0, 0, 0, 0.5);
  display: none;
  width: 90%;
}

#subscribe {
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% { color: transparent}
  50% { color: white }
}

@media(min-width: 500px) {
  #shownav {
    display: none;
  }
  
  #nav {
    display: block;
    width: 100%;
  }
  
  #nav ul {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
}

input {
  font-size: 30px;
}

button {
  border: none;
  background-color: slateblue;
  color: white;
  font-family: 'Comic Sans MS';
  font-size: 30px;
  cursor: pointer;
}